$TTL 1W
@	IN	SOA	ns1.redhat.ren.	root (
			{{ serialnumber }}	; serial
			3H		; refresh (3 hours)
			30M		; retry (30 minutes)
			2W		; expiry (2 weeks)
			1W )		; minimum (1 week)
	IN	NS	ns1.redhat.ren.
	IN	MX 10	smtp.redhat.ren.
;
; 
ns1	IN	A	{{ helper.ipaddr }}
smtp	IN	A	{{ helper.ipaddr }}
;
registry	IN	A	{{ dns.registry.ipaddr }}
yum		IN	A	{{ dns.yum.ipaddr }}
gogs	IN	A	{{ helper.ipaddr }}
nexus	IN	A	{{ helper.ipaddr }}
etherpad	IN	A	{{ helper.ipaddr }}
;
;
;EOF
