$TTL 1W
@	IN	SOA	ns1.{{ dns.domain }}.	root (
			{{ serialnumber }}	; serial
			3H		; refresh (3 hours)
			30M		; retry (30 minutes)
			2W		; expiry (2 weeks)
			1W )		; minimum (1 week)
	IN	NS	ns1.{{ dns.domain }}.
	IN	MX 10	smtp.{{ dns.domain }}.
;
; 
ns1	IN	A	{{ helper.ipaddr }}
smtp	IN	A	{{ helper.ipaddr }}
;
{{ dns.registry.name }}	IN	A	{{ dns.registry.ipaddr }}
{{ dns.yum.name }}	IN	A	{{ dns.yum.ipaddr }}
;
;
;EOF
